@model List<Post>
@{
    ViewData["Title"] = "Forum Page";
    var user = (User)ViewBag.User;
}

<h1 class="display-4">Forum Page</h1>
<a asp-controller="User" asp-action="User" asp-route-id="">@user.id</a>
<img src="~/@user.image" width="120px" height="120px" />

<div class="row">
    <div class="col-md-12">
        <form asp-action="NewPost" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label label="subject">Subject:</label>
                <input label="subject" type="text" class="form-control" id="subject" value="" data-val="true"
                       data-val-required="Subject cannot be blank.">
                <span validation-for="subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label label="messageText">Message Text:</label>
                <input label="messageText" type="text" class="form-control" id="messageTExt" value="" data-val="true" />
            </div>
            <div>
                <fieldset>
                    <legend>Upload Image</legend>
                    <label for="Image">Image</label>
                    <input type="file" name="Image" />
                    <br />
                </fieldset>
            </div>
            <div>
                <table class="table">
                    <tr>
                        <td> <input type="submit" value="NewPost" class="btn btn-primary" asp-action="Forum" asp-route-id="@user.id"></td>
                        <td> <a class="btn btn-primary" asp-action="newPost" asp-route-id="@user.id">Submit</a></td>
                    </tr>
                </table>
            </div>
        </form>


        <div class="row"></div>
        <table class="table table-striped">


            @{var postCount = 10;};

            @if (Model.Count < 10)
            {
                postCount = Model.Count;
            }


            @for (int i = 0; i < postCount; i++)
            {
                var previousPost = Model.ToList();

                <tr>
                    <th class="table-primary">@Html.DisplayNameFor(x => x[0].postTimeUTC)</th>
                    <th class="table-primary">@Html.DisplayName("userID")</th>
                    <th class="table-primary">@Html.DisplayName("image")</th>
                </tr>

                var userImage = previousPost[postCount].Image;
                var postImage = previousPost[postCount].Image;

                if (previousPost[i] != null)
                {

                    <tr>
                        <td>@Html.DisplayFor(x => previousPost[postCount].postTimeUTC)</td>
                        <td>@Html.DisplayFor(x => previousPost[postCount].UserID)</td>
                        <td><img src=@userImage width="120px" height="120px" /></td>
                    </tr>


                    <tr>@Html.DisplayFor(x => previousPost[postCount].subject)</tr>
                    <tr>@Html.DisplayFor(x => previousPost[postCount].messageText)</tr>
                    <tr><td><img src=@postImage width="120px" height="120px" /></td></tr>
                }
            }
            

        </table>

    </div>

    <div>
        <a asp-action="Logout">Logout</a>
    </div>
