@model List<Post>
@{
    ViewData["Title"] = "User Page";
    var user = (User)ViewBag.User;
}

<h1 class="display-4">User Page</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="UpdatePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@user.password">Old Password:</label>
                <input asp-for="@user.password" type="text" class="form-control" id="password" value="" data-val="true"
                       data-val-required="Old Password cannot be blank.">
                <span asp-validation-for="@user.password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label label="newPassword">New Password:</label>
                <input label="newPassword" type="text" class="form-control" id="newPassword" value="" data-val="true"
                       data-val-required="New Password cannot be blank.">
                <span label="newPassword" class="text-danger"></span>
            </div>
            <div>
                <table class="table">
                    <tr>
                        <td> <input type="submit" value="UpdatePassword" class="btn btn-primary" asp-action="Login" asp-route-id="User.id"></td>
                        <td> <a class="btn btn-primary" asp-action="PassUpdate" asp-route-id="User.id">Change</a></td>
                    </tr>
                </table>
            </div>
        </form>

        <form asp-action="UpdatePost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table table-striped">
                <tr>
                    <th class="table-primary">@Html.DisplayName("Subject")</th>
                    <th class="table-primary">@Html.DisplayName("postTimeUTC")</th>
                    <th class="table-primary">@Html.DisplayName("Edit")</th>
                </tr>

                @for (int i = 0; i < Model.ToList().Count; i++)
                {
                    var previousPost = Model.ToList();

                    if (previousPost[i] != null)
                    {

                        <tr>
                            <td>@Html.DisplayFor(x => previousPost[i].subject)</td>
                            <td>@Html.DisplayFor(x => previousPost[i].postTimeUTC)</td>

                            <form asp-action="@previousPost[i].postTimeUTC">

                            <td>
                                <input asp-for="@previousPost[i].subject" name="EditPost" class="form-control"
                               type="hidden" value="@previousPost[i].subject" />
                                <input asp-for="@previousPost[i].messageText" name="EditPost" class="form-control"
                               type="hidden" value="@previousPost[i].messageText" />
                                <input asp-for="@previousPost[i].Image" name="EditPost" class="form-control"
                               type="hidden" value="@previousPost[i].Image" />
                                <input type="submit" class="btn btn-primary" asp-action="EditPost"
                               value="Edit" asp-route-id="@previousPost[i].postTimeUTC" />
                            </td>
                </form>
                </tr>
                    }
                }

        </table>

        </form>

    </div>

    <div>
        <a asp-action="Index">Back to Home</a>
    </div>
